<link rel="stylesheet" href="/css/main.css" />
<div style="margin-top: 100px">
    <header class="border border-5 border-black rounded">
        <div style="margin-left: 10px">
            <br />
            <h1 class="h1-title">Hello, Codes!</h1>
            <br />
            <h6 class="subtitle">파이썬 알고리즘 문제를 마음껏 풀어봐요!</h6>
            <br />
        </div>
    </header>
    <div style="margin-left: 10px"></div>
</div>
