.h1-title {
    font-weight: 600;
    background: linear-gradient(307deg, #ff5252 0%, #7700ff 100%);
    background: -webkit-linear-gradient(307deg, #ff5252 0%, #7700ff 100%);
    background: -moz-linear-gradient(307deg, #ff5252 0%, #7700ff 100%);
    background: -o-linear-gradient(307deg, #ff5252 0%, #7700ff 100%);
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-height: 22px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    clip-path: inset(1px);
    font-size: clamp(none, 10%, 100px);
}

.subtitle {
    font-size: larger;
    color: white;
}

header {
    background: radial-gradient(
        farthest-corner circle at 100% 0% in oklab,
        oklch(80% 0.4 222) 0%,
        oklch(35% 0.5 313) 100%
    );
}
